@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&display=swap');

* {
	margin: auto;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	
	overflow: auto;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

img {
	max-width: 100%;
}

.container {
	
	background-image:linear-gradient(#ebebeb 0%, #9b9b9b 70%, #d6d6d6 90%);
}

.container .btn {
	/* margin-top: 20px; */
	display: inline-block;
	padding: 10px 20px;
	border: none;
	border-radius: 40px;
	background: #00a8ff;
	color: #fff;
	cursor: pointer;
}

.container .btn:hover {
	background: #0097e6;
}

nav {
	background: #fff;
	padding: 0 20px;
	width: 100%;
	height: 80px;
}

.logo h1 {
	color: #0097e6;
}

nav .nav-items {
	/* display: flex; */
	justify-content: space-between;
	height: 100%;
	/* align-items: center; */
}

.nav-items ul {
	/* display: flex; */
	/* align-items: center; */
	justify-content: space-between;
}

.nav-items ul li {
	list-style: none;
	margin-left: 5%;
	font-size: 18px;
	font-weight: 600;
	color: #000;
}

.nav-items ul li a {
	color: #000;
}

.nav-items ul li a:hover {
	color: #00a8ff;
}

.nav-items ul li a.active {
	color: #00a8ff;
}

.banner-container {
	padding: 0px;
	/* display: flex; */
	justify-content: center;

	flex-direction: column;
	gap: 20px;
	margin: auto;
	padding: 100px 0px; 

}

.banner {
	font-family: 'Lovers Quarrel', cursive;
	/* background: #e2dfdf; */
	padding: 25px 20px;
	max-width: 580px;
	min-width: 300px;
	width: 100%;
	/* height: 1000px; */
	height: 1100px;
	/* display: flex; */
	margin: auto;
	flex-direction: column;
	/* background-image:linear-gradient(#ebebeb 0%, #9b9b9b 70%, #d6d6d6 90%); */
}

.first-container{
	margin: auto;
	max-width: 350px;
	min-width: 260px;
	width: 100%;
}
.avatar-container{
	background: #615f5f;
	width: 100%;
	height: 300px;
	border-radius: 10px;
}
/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 800px) {
	.banner {
		font-size: 50px;
		background: #e2dfdf;
		padding: 13px 10px;
		width: 330px;
		height: 500px;
		display: flex;
		margin: 35px 3px;
	}
  } */


.banner-container .btn {
	font-family: 'Poppins', sans-serif;
	background: #00a8ff;
	color: #fff;
	padding: 0px 20px;
	border-radius: 40px;
	font-size: 18px;
	cursor: pointer;
}

.banner-container .btn:hover {
	background: #0097e6;
}

.container .title {
	color: #00a8ff;
	font-size: 30px;
	font-weight: 600;
}

.cocktails-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	grid-gap: 30px;
	margin: 20px 0;
}

.cocktails-container .cocktail-card {
	background: #fff;
	border-radius: 20px;
	padding: 20px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	transition: all 0.3s ease-in-out;
}

.cocktails-container .cocktail-card:hover {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.cocktail-card .cocktail-img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	object-position: center;
}

.cocktail-card .cocktail-info {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
}

.cocktail-info .cocktail-name {
	font-size: 24px;
	font-weight: 600;
	color: #000;
}

.cocktail-info .btn {
	background: #00a8ff;
	color: #fff;
	border: none;
	padding: 5px 10px;
	border-radius: 20px;
	font-size: 16px;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
}

.cocktail-info .btn:hover {
	background: #0097e6;
}

/* error component styling */

.error-page {
	display: flex;
	justify-content: center;
	/* align-items: center; */
	flex-direction: column;
	margin-top: 20px;
	height: 60vh;
}

.error-page .error-code {
	font-size: 150px;
	font-weight: 600;
	color: #00a8ff;
}

.error-page .error-text {
	font-size: 34px;
	font-weight: 600;
	color: #000;
}

/* Single Product */
.flex-container {
	display: flex;
	justify-content: space-between;
	/* align-items: center; */
	gap: 20px;
}

.flex-container .cocktail-img {
	width: 100%;
	height: 500px;
	object-fit: cover;
	object-position: center;
	border: 5px solid #00a8ff;
	border-radius: 20px;
}

.cocktail-infos .row {
	margin: 10px 0;
}

.cocktail-infos .row .label {
	font-size: 18px;
	font-weight: 600;
	color: #000;
}



/* ======================================= first page styles================================= */
.grid-container {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 45% 10% 45%;
	height: 50px;
}

.grid-item {
	font-size: 30px;
	text-align: center;
	margin: 0px;
	width: 100%;
}


.grid-story {
	margin-top: 40px;
	height: 60px;
	font-size: 40px;
	text-align: center;
}

.p-start {
	margin-top: 20px;
	font-size: 30px;
	text-align: center;
}

.label-start{
	             
	font-size: 20px;
	margin: 50px 0px;
	font-family: serif;
	text-align: center;
}

.login-style{
	text-align: center ;
	font-size: 25px;
	font-family: Cursive;
	
}
/* ======================================================================================= */

/* =========================== whitebackground blackcolor ================================== */
.grid-container-signup {
	margin-top: 20px;
	display: grid;
	grid-template-columns: 20% 10% 70%;
	height: 50px;
}
.ButtonStyleNormal{
    margin : 0px;
    display : flex;
	width : 100% ;
	height: 100%;
    padding : 0px 20px;
	background-color: #d7d7d7 ! important;
	border-radius: 10px !important;
	color:black !important;
}
.grid-story-signup {
	margin-top: 20px;
	height: 60px;
	font-size: 30px;
	text-align: center;
}
/* ======================================================================================= */
.imageBtnCustomize{
	opacity: 0;
	position: absolute;
	top: -20px;
	right: 50px;
	width: 50px;
	height: 50px;
	}

